body {
    background-image: url('../../assets/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.tile-container {
    display: flex;
    justify-content: space-between;
    margin: 280px;
  }
  
  .tile {
    width: 30%;
    height: 100px;
    padding: 40px;
    text-align: center;
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: white;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }
  
  .tile:hover {
    color: white;
    transform: scale(1.05); 
  }
  
  .tile-content h2 {
    margin-bottom: 15px;
    font-size: 24px;
  }
  
  .tile-content p {
    font-size: 16px;
  }